# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/rudhamla/nr"
PassengerBaseURI "/"
PassengerPython "/home/rudhamla/virtualenv/nr/3.6/bin/python3.6"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
